body {
    font-family: Arial;
    margin: 0;
}

/* Header/Logo Title */
.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

#registrarse {
    float: right;
    background-color: #04AA6D;
}

#login {
    float: right;
    background-color: #04AA6D;
}

.active {
    background-color: #04AA6D;
}

#contenido1 {
    background-color: #ddd;
    float: left;
    height: 350px;
    margin: 0.5%;
    width: 49%;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}

#contenido2 {
    background-color: #ddd;
    float: right;
    height: 350px;
    margin: 0.5%;
    width: 49%;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}

#imagen {
    width: 200px;
    height: 200px;
}

#contenedor2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#principal {
    width: 40%;
}

#sidebar {
    width: 60%;
}

#imagen2 {
    width: 100%;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #04AA6D;
    color: white;   
    position:fixed;
    bottom: 0;
    width: 100%; 
}