body {
    font-family: Arial;
    margin: 0;
}

/* Header/Logo Title */
.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#logo{
    padding: 0;
    margin: 10% auto;
    text-align: center;
}

li a img{
    padding: 0;
    margin: 0;
    width: 35px;
}

li a:hover:not(.active) {
    background-color: #111;
}

#registrarse {
    float: right;
    background-color: #04AA6D;
}

#login {
    float: right;
    background-color: #04AA6D;
}

.active {
    background-color: #04AA6D;
}

#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 10px;
}

#principal {
    width: 38%;
    padding: 1%;
}

#sidebar {
    width: 58%;
    padding: 1%;
}

#imagen {
    width: 100%;
    height: 400px;
}


#contenedor2 {
    display: flex;
    justify-content: center
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 70%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #04AA6D;
    color: white;   
    position: relative;
    bottom: 0;
    width: 100%;    
}